.selected .ant-card{
  background-color: #111d2c;
  color: white
}

.selected .ant-card-head {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 800;
  background: transparent;
  border-bottom: 1px solid #303030;
}

.selected .ant-typography {
  color: white
}
